<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="${basedir}/logs/${shortdate}/nlog_error.txt" >
  <!-- 
    See https://github.com/nlog/nlog/wiki/Configuration-file 
    for information on customizing logging rules and outputs.
  -->
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <variable name="logInfoContent" value="====>>【日志时间】：${longdate} 【日志内容】：${message}"/>
  <variable name="logExceptionContent" value="====>>【日志时间】：${longdate} 【日志内容】：${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"/>
  <targets async="true">
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
    layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--说明：
    xsi:type="File"指定输出到文件类型；
    name ="file_info"指定target的名字；
    fileName="${basedir}/Logs/NlogBlog_${level}_${shortdate}.txt"指定输出文件的具体名。
    其中${basedir}的意思是程序所在的路径； ${level}的意思是日志的等级； ${shortdate}的意思是日期（具体到日）"
    layout="${longdate} ${message}"指定输出文件内容的样式（可自由定义）；
    其中${longdate}的意思是日期（具体到毫秒），${message}是你具体要输出的内容。
    -->
    <default-target-parameters type="File" archiveAboveSize="50485760" maxArchiveFiles="50" archiveNumbering="Rolling"  keepFileOpen="false"
        layout="${logExceptionContent}"/>
    <target xsi:type="File" name ="file_info" fileName="${logDirectory}/info.log" layout="${logInfoContent}" encoding="UTF-8"/>
    <target xsi:type="File" name ="file_warn" fileName="${logDirectory}/warn.log" layout="${logInfoContent}" encoding="UTF-8"/>
    <target xsi:type="File" name ="file_error" fileName="${logDirectory}/error.log" layout="${logExceptionContent}" encoding="UTF-8"/>
    <target xsi:type="File" name ="file_fatal" fileName="${logDirectory}/fatal.log" layout="${logExceptionContent}" encoding="UTF-8"/>
    <target name="email_error"
            type="Mail"
            header="----------"
            footer="----------"
            layout="${longdate} ${level} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
            html="false"
            addNewLines="true"
            subject="${message}"
            to="xxxx@xxxx.com"
            from="xxx@xxxx.com"
            body="${longdate} ${level} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
            smtpUserName="xxxx"
            enableSsl="false"
            smtpPassword="Password"
            smtpAuthentication="Basic"
            smtpServer="smtp.xxxx.com"
            smtpPort="25" />
  </targets>

  <rules>
    <!--
    Trace - 最常见的记录信息，一般用于普通输出
    Debug - 同样是记录信息，不过出现的频率要比Trace少一些，一般用来调试程序
    Info - 信息类型的消息
    Warn - 警告信息，一般用于比较重要的场合
    Error - 错误信息
    Fatal - 致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。
    如果name填*，则表示所有的Logger都运用这个规则
    -->
    <logger name="*" levels="Info,Debug,Trace" writeTo="file_info"/>
    <logger name="*" levels="Warn" writeTo="file_warn"/>
    <logger name="*" levels="Error" writeTo="file_error,email_error"/>
    <logger name="*" levels="Fatal " writeTo="file_fatal,email_error"/>
  </rules>
</nlog>